.about-container {
    display: flex;
    font-family: "nimbus-sans-extended",sans-serif;
    height: 100vh;
    background: whitesmoke;
}

.heading-content-container {
    width: 80%;
    margin: 0 50px 0 auto;
    overflow: auto;
    height: 100%;
    padding-right: 15%;
}

@media (max-width: 900px) {
    .heading-content-container {
        margin: 0 15px 0 auto;
        padding-right: 5%;
    }
}

@media (max-width: 900px) {
    .heading-content-container {
        margin: 0 0 0 auto;
        padding-right: 5%;
    }
}

.heading {
    font-size: 8rem;
    font-weight: 900;
    margin: 100px auto;
}

@media (max-width: 900px) {
    .heading {
        font-size: 6rem;
        margin: 50px auto;
    }
}

@media (max-width: 700px) {
    .heading {
        font-size: 4rem;
        margin: 25px auto;
    }
}

.logo-about {
    width: 70px;
    height: 69px;
    overflow: hidden;
    border-radius: 50%;
    position: fixed;
    top: 50px;
    left: 50px;
}

@media (max-width: 700px) {
    .side-nav-about .logo-about {
      /* width: 77px; */
      margin-top: 3px;
      left: 10px
    }
  }

.logo-about img {
    width: 100%;
  }
  
.about-nav {
    margin: 100% auto 0px;
}

.social-icons-about-side-nave {
    display: flex;
    flex-direction: column;
}

.side-nav-about .social-icons-about-side-nave {
    background-color: #90aae5;
    padding: 15px 20px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 50px;
}

.social-icons-about-side-nave .fab {
    margin: 10px 0px;
}

.side-nav-about .social-icons-about-side-nave .fab {
    color: white;
}

.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
}

.side-nav-about .social-icons-about-side-nave a:visited {
    color: white;
}
@media (max-width: 550px) {
    .side-nav-about .social-icons-about-side-nave .fab {
        /* font-size: 2.7rem; */
        color: white;
    }
}
.side-nav-about .social-icons-about-side-nave .fab:hover {
    color: black;
    cursor: pointer;
}

.side-nav-about {
    height: 100%;
    margin: auto;
    display: flex;
    /* justify-items: end; */
    align-items: flex-end;
}

.content h1 {
    font-size: 3rem;
    font-weight: 900;
    display: inline-block;
}

@media (max-width: 900px) {
    .content h1 {
        font-size: 2rem;
    }
}

.content p {
    font-size: 2rem;
    font-weight: 800;
    line-height: 3.5rem;
    color: #696969;
    margin-bottom: 200px;
}

@media (max-width: 900px) {
    .content p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-bottom: 70px;
    }
}

.heading-content-container::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

/* Handle */
.heading-content-container::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

/* Handle on hover */
.heading-content-container::-webkit-scrollbar-thumb:hover {
    background: gray;;
}

.content h1::after {
    content: '';
    height: 7px;
    display: block;
    background: #ff3f3f;
    width: 40%;
    margin: 15px 0px;
}

@media (max-width: 900px) {
    .content h1::after {
        height: 3px;
    }
}

.heading-text::after {
    content: '';
    height: 15px;
    display: block;
    background: #ff3f3f;
    width: 40%;
    margin: 25px 0px;
}

@media (max-width: 900px) {
    .heading-text::after {
        height: 8px;
    }
}

.bottom-nav-about-container {
    text-align: center;
}

.bottom-nav-about-link {
    text-decoration: none;
    color: black;
    margin: auto;
    display: inline-block;
}

.bottom-nav-about {
    font-size: 6rem;
    font-weight: 900;
    margin: 200px auto 300px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 900px) {
    .bottom-nav-about {
        font-size: 4rem;
        margin: 100px auto 150px;
    }
}
 
.bottom-nav-about:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 6px;
    left: 50%;
    position: relative;
    background: #ff3f3f;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    margin-bottom: 5px 0;
}

.bottom-nav-about:hover:after {
    width: 100%; 
    left: 0; 
}